<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.mapper.MessageMapper">

    <insert id="addMsg">
        INSERT INTO pushmsg.messages
            (id,
            `describe`,
            userId,
            way,
            `time`,
            `type`
            )
            VALUES
            (#{id},
            #{describe},
            #{userId},
            #{way},
            NOW(),
            #{type}
            );
    </insert>
</mapper>