<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zb.mapper.CurriculumMapper">
    <select id="getCurriculumsByUid" resultType="com.zb.entity.Curriculum">

        select  * from curriculum where  userId=#{userId}

        limit #{from},#{pageSize}

    </select>

    <select id="getCurriculumCountByUid" resultType="integer">

        select count(1) from curriculum

            where  userId=#{userId}



    </select>
</mapper>