<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zb.mapper.ExchangedMapper">
<insert id="addExchanged" parameterType="com.zb.pojo.Exchanged">
INSERT INTO credits.exchanged
	(
	user_id,
	exchanged_credit,
	product_id
	)
	VALUES
	(
	#{user_id},
	#{exchanged_credit},
	#{product_id}
	);

</insert>
    <select id="getExchangedBy" resultType="com.zb.pojo.Exchanged">
        select * from exchanged
    </select>
</mapper>