<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <table border="1">
            <tr>
                <td>编号</td>
                <td>商品名称</td>
                <td>操作</td>
            </tr>
            <tr th:each="l:${list}">
                <td th:text="${l.getId()}"></td>
                <td th:text="${l.getNames()}"></td>
                <td> <a th:href="@{'/adds?id='+${l.getId()}}">加入购物车</a></td>
            </tr>
        </table>
        <a href="/add">查看全部</a>
</body>
</html>