<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.dao.ShopMapper">

    <select id="getList" resultType="com.demo.pojo.Shop">
        select * from sh
    </select>

    <select id="getSel" resultType="com.demo.pojo.Shop">
        select * from sh where id = #{id}
    </select>

</mapper>